---
layout: industry
title: Professional Services Applications
industry: professional
---

	<p>Professional services are provided by individuals with solid professional experience. These people are usually experts in a certain field of knowledge, and they are often officially certified. Here you can find applications related to this industry.
	</p>
	<br>
	<div>
		<div>
			{% for post in site.tags.professional %}
				{% if post.categories contains 'apps' %}
					<div>
						<p>
							<div class="col-sm-11">
								<p><i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="../{{ post.info }}">{{ post.title }}</a> - {{ post.brief }}...</p>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
